<div :class="$style.pageContent">
  <div v-if="movies.length">
    <div :class="$style.pageWrapper" class="row p-4" v-if="!fullMode">
      <div class="col-12 my-3 pb-3"><h2>{{catTitle}}</h2></div>
      <section class="col-2 p-3 text-center" v-for="movie in movies">
        <div :class="$style.elements" class="text-left" @click="e => getFullDetails(e, movie)">
          <span :class="$style.rating">{{movie.vote}}</span>
          <img :src="'https://image.tmdb.org/t/p/w342' + movie.poster"  class="img-fluid" v-if="movie.poster"/>
          <div :class="$style.noImage" v-else>
            <img src="../../assets/no-image.png">
          </div>
          <h4 class="my-2">{{ movie.title }}</h4>
          <h6>{{ movie.genre }}</h6>
        </div>
      </section>
    </div>

    <div :class="$style.pageWrapper" v-else class="row">
      <font-awesome-icon icon="times" :class="$style.backToList" @click="backToMovieList()"/>
      <section class="col-12 text-center">
        <div :class="[$style.elements, $style.fullMode]" class="text-left">
          <div :class="$style.movieHeader">
            <img :src="'https://image.tmdb.org/t/p/original' + fullMovieContent.backdrop_path"  class="img-fluid" v-if="fullMovieContent.backdrop_path"/>
            <div :class="$style.noImage" v-else>
              <img src="../../assets/no-image.png">
            </div>
            <div class="row" :class="$style.movieTitle">
              <div class="offset-md-1 col-2">
                <img :src="'https://image.tmdb.org/t/p/w342' + fullMovieContent.poster_path"  class="img-fluid" v-if="fullMovieContent.poster_path"/>
                <div :class="$style.noImage" v-else>
                  <img src="../../assets/no-image.png">
                </div>
              </div>
              <div class="col-9">
                <h4 class="my-2">{{ movieTitle }}</h4>
                <h6><span>{{ genres }}</span></h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="col-12 my-5" :class="$style.movieDetailSection">
        <div class="row">
          <article class="offset-md-1 col-7">
            <h2>Synopsis</h2>
            <p>{{ fullMovieContent.overview }}</p>

            <h2 class="mt-5">Cast</h2>
            <div class="row" :class="$style.castContainer">
              <div v-for="cast in casts.cast" class="col-2 py-3" @click="getCastDetails(cast.credit_id)">
                <div :class="$style.castImageContainer" v-if="cast.profile_path">
                  <img :src="'https://image.tmdb.org/t/p/w185' + cast.profile_path" class="img-fluid" />
                </div>
                <div :class="$style.noImage" v-else>
                  <img src="../../assets/no-image.png">
                </div>
                <p class="mt-2">{{ cast.name }} <em>as</em></p>
                <p :class="$style.character">{{ cast.character }}</p>
              </div>
            </div>
            <Modal v-show="isModalVisible" @close="closeModal" >
              <template v-slot:header><span v-if="fullCast && fullCast.person">{{ personDetails.name }}</span></template>
              <template v-slot:body>
                <div class="row" v-if="fullCast && fullCast.person">
                  <div class="col-4">
                      <div :class="$style.castImageContainer" v-if="fullCast.person.profile_path">
                        <img :src="'https://image.tmdb.org/t/p/w500' + fullCast.person.profile_path" class="img-fluid" />
                      </div>
                      <div :class="$style.noImage" v-else>
                        <img src="../../assets/no-image.png">
                      </div>
                  </div>
                  <div class="col-8" :class="$style.personDetails">
                    <h2>{{ personDetails.name }}</h2>
                    <h6 v-if="personDetails.birthday">Born: {{ personDetails.birthday }} <span v-if="personDetails.place_of_birth">at {{ personDetails.place_of_birth }}</span></h6>
                    <p class="my-4 pr-3">{{ personDetails.biography }}</p>
                  </div>
                </div>
              </template>
            </Modal>
          </article>
          <article class="col-3 mt-3">
              <aside :class="$style.rightPanel" v-if="videos && videos.length" class="pb-3">
                <h2 class="py-3 px-4">Videos</h2>
                <div v-for="video in videos" class="px-4 py-2">
                  <iframe height="100%" width="100%" :src="'https://www.youtube.com/embed/' + video.key" crossorigin="anonymous"></iframe> 
                </div>
              </aside>
          </article>
        </div>
      </section>
    </div>
  </div>

  <div :class="$style.pageWrapper" class="row p-4" v-else>
      <SkeletonLoader v-for="index in 20" :key="index"></SkeletonLoader>
  </div>
</div>
 