<div :class="$style.navItems">
  <ul class="d-md-block d-none mt-5">
    <li>
      <router-link to="/now-playing">Now Playing
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li>
      <router-link to="/popular">Popular
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li>
      <router-link to="/top-rated">Top Rated
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li>
      <router-link to="/upcoming">Upcoming
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <!-- <li>
      <router-link to="/watch-later">Watch Later
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li> -->
  </ul>
  <!-- <ul v-if="active === false" class="mt-5">
    <li><a href="#" :class="active === false ? $style.active : null">Search Results
        <font-awesome-icon icon="long-arrow-alt-right" /></a></li>
  </ul> -->

  <ul class="nav nav-tabs d-md-none">
    <li class="nav-item">
      <router-link to="/now-playing">Now Playing
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/popular">Popular
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/top-rated">Top Rated
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/upcoming">Upcoming
        <font-awesome-icon icon="long-arrow-alt-right" />
      </router-link>
    </li>
  </ul>
</div>
