.navItems {
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        color: #ADB3B9;
        padding: 15px 15px 15px 30px;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: .75rem;
        font-weight: 600;
        transition: .3s ease-in;
        svg {
          position: absolute;
          right: 30px;
          opacity: 0;
          transition: .3s ease-in;
          path{
            fill: #FF424F;
          }
        }
        &:hover, &[class*="router-link-active"] {
          background: #222B30;
          color: #FF424F;
          transition: .3s ease-in;
          svg {
            right: 15px;
            opacity: 1;
            transition: .3s ease-in;
          }
        }
      }
    }
    &[class*="nav-tabs"] {
      li {
        a {
          padding: 15px;
          svg {
            display: none;
          }
        }
      }
    }
  }
}
